/* line 4, C:/laragon/www/portfolio/scss/grayscale.scss */
body {
  font-family: 'Ovo', serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

/* line 16, C:/laragon/www/portfolio/scss/grayscale.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 21, C:/laragon/www/portfolio/scss/grayscale.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Syncopate', sans-serif;
  font-weight: 400;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 36, C:/laragon/www/portfolio/scss/grayscale.scss */
p {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Ovo', serif;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  /* line 36, C:/laragon/www/portfolio/scss/grayscale.scss */
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

/* line 49, C:/laragon/www/portfolio/scss/grayscale.scss */
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #00B2C2;
}

/* line 55, C:/laragon/www/portfolio/scss/grayscale.scss */
a:focus, a:hover {
  text-decoration: none;
  color: #00545c;
}

/* line 63, C:/laragon/www/portfolio/scss/grayscale.scss */
#mainNav {
  font-family: 'Syncopate', sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
}

/* line 72, C:/laragon/www/portfolio/scss/grayscale.scss */
#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border: 1px solid white;
}

/* line 80, C:/laragon/www/portfolio/scss/grayscale.scss */
#mainNav .navbar-brand {
  font-weight: 700;
}

/* line 83, C:/laragon/www/portfolio/scss/grayscale.scss */
#mainNav a {
  color: white;
}

/* line 87, C:/laragon/www/portfolio/scss/grayscale.scss */
#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

/* line 91, C:/laragon/www/portfolio/scss/grayscale.scss */
#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

/* line 96, C:/laragon/www/portfolio/scss/grayscale.scss */
#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  /* line 63, C:/laragon/www/portfolio/scss/grayscale.scss */
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  /* line 114, C:/laragon/www/portfolio/scss/grayscale.scss */
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  /* line 121, C:/laragon/www/portfolio/scss/grayscale.scss */
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  /* line 124, C:/laragon/www/portfolio/scss/grayscale.scss */
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

/* line 131, C:/laragon/www/portfolio/scss/grayscale.scss */
.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background: url("../img/intro-bw.jpg") no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 147, C:/laragon/www/portfolio/scss/grayscale.scss */
.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

/* line 151, C:/laragon/www/portfolio/scss/grayscale.scss */
.masthead .intro-body .brand-heading {
  font-size: 46px;
  color: #00e1f5;
}

/* line 155, C:/laragon/www/portfolio/scss/grayscale.scss */
.masthead .intro-body .brand-heading:hover {
  color: #00B2C2;
}

/* line 158, C:/laragon/www/portfolio/scss/grayscale.scss */
.masthead .intro-body .intro-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  /* line 131, C:/laragon/www/portfolio/scss/grayscale.scss */
  .masthead {
    height: 100%;
    padding: 0;
  }
  /* line 167, C:/laragon/www/portfolio/scss/grayscale.scss */
  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }
  /* line 170, C:/laragon/www/portfolio/scss/grayscale.scss */
  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}

/* line 177, C:/laragon/www/portfolio/scss/grayscale.scss */
.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 38px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

/* line 193, C:/laragon/www/portfolio/scss/grayscale.scss */
.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

/* line 201, C:/laragon/www/portfolio/scss/grayscale.scss */
.content-section {
  padding-top: 150px;
  padding-bottom: 150px;
}

/* line 206, C:/laragon/www/portfolio/scss/grayscale.scss */
.download-section {
  color: white;
  background: #000000;
  /* Old Browsers */
  background: -webkit-radial-gradient(bottom left, #000000, #2c2c2c);
  /*Safari 5.1-6*/
  background: -o-radial-gradient(bottom left, #000000, #2c2c2c);
  /*Opera 11.1-12*/
  background: -moz-radial-gradient(bottom left, #000000, #2c2c2c);
  /*Fx 3.6-15*/
  background: radial-gradient(bottom left, #000000, #2c2c2c);
  /*Standard*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 219, C:/laragon/www/portfolio/scss/grayscale.scss */
#map {
  width: 100%;
  height: 300px;
}

@media (min-width: 992px) {
  /* line 224, C:/laragon/www/portfolio/scss/grayscale.scss */
  .content-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  /* line 228, C:/laragon/www/portfolio/scss/grayscale.scss */
  #map {
    height: 350px;
  }
}

/* line 233, C:/laragon/www/portfolio/scss/grayscale.scss */
.btn {
  font-family: 'Syncopate', sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

/* line 245, C:/laragon/www/portfolio/scss/grayscale.scss */
.btn-default {
  color: #00B2C2;
  border: 1px solid #00B2C2;
  background-color: transparent;
}

/* line 249, C:/laragon/www/portfolio/scss/grayscale.scss */
.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid #00B2C2;
  outline: none;
  background-color: #00B2C2;
}

/* line 258, C:/laragon/www/portfolio/scss/grayscale.scss */
ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  /* line 258, C:/laragon/www/portfolio/scss/grayscale.scss */
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  /* line 264, C:/laragon/www/portfolio/scss/grayscale.scss */
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  /* line 269, C:/laragon/www/portfolio/scss/grayscale.scss */
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

/* line 276, C:/laragon/www/portfolio/scss/grayscale.scss */
footer {
  padding: 50px 0;
}

/* line 278, C:/laragon/www/portfolio/scss/grayscale.scss */
footer p {
  font-size: 14px;
  margin: 0;
}

/* line 285, C:/laragon/www/portfolio/scss/grayscale.scss */
::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

/* line 291, C:/laragon/www/portfolio/scss/grayscale.scss */
::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

/* line 297, C:/laragon/www/portfolio/scss/grayscale.scss */
img::selection {
  background: transparent;
}

/* line 301, C:/laragon/www/portfolio/scss/grayscale.scss */
img::-moz-selection {
  background: transparent;
}

/* line 305, C:/laragon/www/portfolio/scss/grayscale.scss */
body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

/**/
/* line 310, C:/laragon/www/portfolio/scss/grayscale.scss */
.logo {
  width: 15%;
  height: auto;
}

/* Project cards*/
/* line 317, C:/laragon/www/portfolio/scss/grayscale.scss */
.card {
  position: relative;
  max-width: 24rem;
  margin-bottom: 10px;
  height: 350px;
  border: none;
  color: white;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
  background-color: #242424;
}

/* line 327, C:/laragon/www/portfolio/scss/grayscale.scss */
.card .card-block {
  position: relative;
  padding: 2rem;
}

/* line 331, C:/laragon/www/portfolio/scss/grayscale.scss */
.card-title {
  font-family: 'Syncopate', sans-serif;
  text-decoration: underline;
  font-size: 16px;
}

/* line 336, C:/laragon/www/portfolio/scss/grayscale.scss */
.card .card-text {
  margin-bottom: 0;
  color: white;
  font-size: 14px;
}

/* line 341, C:/laragon/www/portfolio/scss/grayscale.scss */
.card .btn {
  border: 0px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  padding: 0;
  width: 3rem;
  height: 3rem;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  background-color: #00B2C2;
}

/* line 365, C:/laragon/www/portfolio/scss/grayscale.scss */
.card .btn .icon {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

/* line 370, C:/laragon/www/portfolio/scss/grayscale.scss */
#about {
  min-height: 100vh;
}

/* line 373, C:/laragon/www/portfolio/scss/grayscale.scss */
#contact {
  min-height: 100vh;
}

/* line 376, C:/laragon/www/portfolio/scss/grayscale.scss */
#projects {
  padding-top: 10vh;
}

/* line 411, C:/laragon/www/portfolio/scss/grayscale.scss */
#button1 {
  transform: translate3d(-50%, -50%, 0);
}

/* line 416, C:/laragon/www/portfolio/scss/grayscale.scss */
.button {
  display: block;
  width: 340px;
  height: 80px;
  cursor: pointer;
  transition: box-shadow 0.1s linear;
}

/* line 422, C:/laragon/www/portfolio/scss/grayscale.scss */
.button:hover {
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2);
}

/* line 426, C:/laragon/www/portfolio/scss/grayscale.scss */
.darks {
  background-color: black;
  opacity: 0.5;
}

/* line 430, C:/laragon/www/portfolio/scss/grayscale.scss */
.darks:hover {
  opacity: 1.0;
}

/* line 433, C:/laragon/www/portfolio/scss/grayscale.scss */
.card:hover {
  box-shadow: -1px 7px 20px 0px rgba(0, 0, 0, 0.8);
}

/* line 436, C:/laragon/www/portfolio/scss/grayscale.scss */
.footer {
  height: 1vh;
  color: grey;
}

/*# sourceMappingURL=../css/grayscale.map */